// ==============================================
// PROFILE BANNER - Banner superior con patrón de puntos
// ==============================================

.profile-page-bg-banner {
  height: 12rem;
  background-image: url('../../assets/dot-pattern-light.png');
  background-repeat: repeat-x;
  background-size: auto 85%;
}
