// ==============================================
// CERTIFICATES - Estilos para certificados del usuario
// ==============================================

.profile-page {
  .certificate {
    position: relative;

    .certificate-title {
      font-family: $font-family-serif;
      font-weight: 400;
    }

    .certificate-type-illustration {
      position: absolute;
      top: 1rem;
      right: 1rem;
      bottom: 0;
      width: 12rem;
      opacity: .06;
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: right top;
    }

    .card-body {
      position: relative;
    }
  }
}
